<#-- @ftlvariable name="user" type="kweet.model.User" -->

<#macro mainLayout title="Welcome">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>${title} | University chat</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
<div class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div class="brand-title">University chat</div>
            <nav class="nav">
                <ul class="nav-list">
                    <#if user??>
                        <li class="nav-item"><a class="pure-button" href="/user/${user.userId}">my timeline</a></li>
                        <li class="nav-item"><a class="pure-button" href="/post-new">New chat</a></li>
                        <li class="nav-item"><a class="pure-button" href="/logout">sign out
                            [${user.displayName?has_content?then(user.displayName, user.userId)}]</a></li>
                    <#else>
                        <li class="nav-item"><a class="pure-button" href="/register">sign up</a></li>
                        <li class="nav-item"><a class="pure-button" href="/login">sign in</a></li>
                    </#if>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <h2>${title}</h2>
        <#nested />
    </div>
    <div class="footer">
        University chat, ${.now?string("yyyy")}
    </div>
</div>
</body>
</html>
</#macro>

<#-- @ftlvariable name="chat" type="java.util.List<university.model.Chat>" -->
<#macro chat_li chat>
<section class="post">
    <header class="post-header">
        <p class="post-meta">
            <a href="/chat/${chat.id}">${chat.date.toDate()?string("yyyy.MM.dd HH:mm:ss")}</a>
            by ${chat.userId}</p>
    </header>
    <div class="post-description">${chat.text}</div>
</section>
</#macro>